@model ElMandaloriano.Models.ViewModels.IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">NUEVA REPÚBLICA GALÁCTICA</h2>
    <form method="post">
        <table align="center">
            <tr>
                <th>Misiones de la nueva República</th>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(m=>m.Mision.Id, new SelectList(Model.ListaMisiones,"Id","NombreMision",Model.Mision))
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Ver Detalles de la Misión" /></td>
            </tr>
            <tr>
                <label>@Model.Mision.Descripcion</label>
            </tr>
        </table>
    </form>
</div>